              <div id="blog-post-content" class="blog-post-content">
                <article class="post type-post">
                  <div class="post-top">
                    <div class="post-thumbnail">
                      <img class="img-responsive" src="images/blog-single/1.jpg" alt="post Image">
                    </div><!-- /.post-thumbnail -->  
                    <div class="post-meta">
                      <div class="entry-meta">
                        <div class="author-avatar">
                          <img src="images/author/1.jpg" alt="Author Image">
                        </div><!-- /.author-avatar -->
                        <div class="entry-meta-content">
                          <span class="author-name">
                            <a href="#">John Doe</a>
                          </span>
                          <span class="entry-date">
                            <time datetime="2015-01-15">15 Jan 2015</time>
                          </span>
                        </div><!-- /.meta-content -->
                      </div><!-- /.entry-meta -->
                    </div><!-- /.post-meta -->
                  </div><!-- /.post-top -->
                  <div class="post-content" id="about">
                    <h2 class="entry-title"><a href="blog-single.html">Mama HTML5 Portfolio Template</a></h2>
                    <p class="entry-text">
                      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore dolore magna aliquyam erat,  sed diam voluptua. At vero eos et accusam et juo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>

                    <blockquote>
                      Lorem ipsum dolsit amet, consetetur sadipscing elitsed diam nonumy  eirmod tempor invidunt ut labore dolore magna aliquyam erat,  sed diam voluptua viero eos et accusam et juo dolores et ea rebum.
                    </blockquote>
                    <p>
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sitamet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                    </p>
                  </div><!-- /.post-content -->

                  <div id="comments" class="comments">
                    <div class="comments-area">
                      <h3 class="comment-title"><span class="title-icon"><i class='fa fa-comments'></i></span>23 Comments</h3>
                      <div class="comments-details">
                        <ul class="comment-list">
                          <li class="parent">
                            <article class="comment">
                              <div class="comment-author">
                                <img src="images/comment/1.jpg" alt="Comment Author">
                              </div>
                              <div class="comment-content">
                                <h4 class="author-name">Jill Dosan</h4>
                                <span class="comment-date">
                                  <span class="entry-date">
                                    <time datetime="12-02-2015 09:00">09:00 on Feb 12, 2015</time> 
                                  </span>
                                </span><!-- /.comment-date -->
                                <p>Integer quis aliquet enim, nec sollicitudin lectus. Ut a dignisselit. Vivamus sit amet dapibus arcu. Nunc dapibusvitaesapienconsectetur,blandit pulvinar nibh suscipit. Donec vel pellentesque nisi, a rutrum dolor. </p>
                                <a class="btn" href="#"><span class="btn-icon"><i class="fa fa-reply-all"></i></span>Reply</a>
                              </div>
                            </article><!-- /.comment -->

                            <ul>
                              <li class="child">
                                <article class="comment">
                                  <div class="comment-author">
                                    <img src="images/comment/2.jpg" alt="Comment Author">
                                  </div>
                                  <div class="comment-content">
                                    <h4 class="author-name">Shon Tean</h4>
                                    <span class="comment-date">
                                      <span class="entry-date">
                                        <time datetime="12-02-2015 09:00">09:00 on Feb 12, 2015</time> 
                                      </span>
                                    </span><!-- /.comment-date -->
                                    <p>Integer quis aliquet enim, nec sollicitudin lectus. Ut a dignisselit. Vivamus sit amet dapibus arcu. Nunc dapibusvitaesapienconsectetur,blandit pulvinar nibh suscipit. Donec vel pellentesque nisi, a rutrum dolor.</p>
                                    <a class="btn" href="#"><span class="btn-icon"><i class="fa fa-reply-all"></i></span>Reply</a>
                                  </div>
                                </article><!-- /.comment -->
                              </li>
                            </ul>
                          </li>

                          <li class="parent">
                            <article class="comment">
                              <div class="comment-author">
                                <img src="images/comment/3.jpg" alt="Comment Author">
                              </div>
                              <div class="comment-content">
                                <h4 class="author-name">Vals Reno</h4>
                                <span class="comment-date">
                                  <span class="entry-date">
                                    <time datetime="12-02-2015 09:00">09:00 on Feb 12, 2015</time> 
                                  </span>
                                </span><!-- /.comment-date -->
                                <p>Integer quis aliquet enim, nec sollicitudin lectus. Ut a dignisselit. Vivamus sit amet dapibus arcu. Nunc dapibusvitaesapienconsectetur,blandit pulvinar nibh suscipit. Donec vel pellentesque nisi, a rutrum dolor.</p>
                                <a class="btn" href="#"><span class="btn-icon"><i class="fa fa-reply-all"></i></span>Reply</a>
                              </div>
                            </article><!-- /.comment -->
                          </li>                   
                        </ul>
                      </div><!-- /.comments -->

                      <div id="leave-comment" class="clearfix leave-comment">
                        <h3 class="title"><span class="title-icon ti-comment-alt"></span>Leave A Reply</h3>
                        <div id="respond">
                          <form action="#" method="post" id="commentform" class="commentform">
                            <input id="author" class="name" name="author" type="text" placeholder="Name*" value="" required>
                            <input id="email" class="email" name="email" type="email" placeholder="Email*" value="" required>
                            <input id="url" class="url" name="email" type="email" placeholder="Url*" value="" required>
                            <textarea id="comment" class="comment" name="comment" placeholder="Comment" rows="4" required></textarea>
                            <button name="submit" class="submit-btn" type="submit" id="submit"><span class="ti-shift-right"></span>Submit</button>
                          </form><!-- /#commentform -->
                        </div><!-- /#respond -->
                      </div><!-- /#leave-comment -->
                    </div><!-- /.comment-area -->
                  </div><!-- /#comment -->
                </article>
              </div>
