{% extends 'SinamCoreBundle::default.html.twig' %}
{% block body %}
 <div id="comments" class="comments">
  <div class="comments-area">
   <h3 class="comment-title">Sistema Nacional de Consulta Publica de Abastecimiento de Medicamentos </h3>
   <div id="respond">
    <p>
      Actualmente el sistema nacional de abastecimiento conocido como SINAB que ha estado operando desde el año 2010 y que fue desarrollado con recursos asignados al proyecto del sistema de salud 20/20 financiado por USAID permite a los usuarios administrar y accesar información referente a las compras, ingresos, control de inventario y distribución de medicamento. <br/>
SCMS ha estado operando en El Salvador durante dos años y en este tiempo diversas intervenciones y asistencias técnicas internacionales se han llevado a cabo enfocándose en el Sistema de Información de Gestión Logística (LMIS) y en la cuantificación de Antirretrovirales y pruebas de VIH. La cuantificación de los productos del Programa Nacional de VIH, esta fuertemente vinculada con la obtención de la información a partir de los Sistemas de Información del Ministerio de Salud SINAB y SUMEVE.<br/>
Con la aprobación de la ley de acceso a la información y a solicitud de la “Alianza Gobierno Abierto” se hace necesario desarrollar una aplicación que facilite las consultas ciudadanas al Sistema Nacional de Abastecimiento de Medicamentos (SINAB).
    </p>
   </div>
  </div>
 </div>
{% endblock %}
{% block js_head %}
{% endblock %}
{% block body_tag %}onload="init()"{% endblock %}
