{% extends 'SinamCoreBundle::default.html.twig' %}
{% block body %}
<div class="col-sm-8">
 <div id="comments" class="comments">
  <div class="comments-area">
   <h3 class="comment-title">Descripcion del SINAM </h3>
   <div id="respond">
    <p>
      Desde esta pagina usted obtendra informacion exacta de existencias de todos los medicamentos que posee el ministerio de salud.<br />

    </p>
   </div>
   <h3 class="comment-title">En que periodos se actualiza la informacion </h3>
   <div id="respond">
    <p>
      <img src="{{ asset('images/reloj.jpg') }}" alt="" width="200" height="200" align="left">
      El sistema posee informacion de los establecimientos medicos donde esta implementado el Sistema Integral de Atención al Paciente (SIAP).<br /><br />
      Se posee registro de abastecimiento de un dia antes, eso significa que se esta consultando la informacion de abastecimiento de un dia antes<br /><br />
      La informacion de farmacias se actualiza cada 24 horas.<br />
      La informacion de almacenes se actualiza cada semana.
    </p>
     </div>
   <h3 class="comment-title">Como buscar a en el SINAM </h3>
   <div id="respond">
    <p>
    </p>
     </div>
   <h3 class="comment-title">Que podemos encontrar en los resultados de las busquedas </h3>
   <div id="respond">
    <p>
    </p>
   </div>
  </div>
 </div>
</div>
<div class="col-sm-4">
      {% block lateral %}
       <!-- lateral -->
        {% include 'SinamCoreBundle::template/lateral.html.twig' %}
       <!-- //lateral -->
      {% endblock %}
     </div>
{% endblock %}
